.App {
  max-width: 100vw;
  min-height: 100vh;
  height: auto;
  box-sizing: border-box;
  /* background-image: url('./starter-code/assets/home/background-home-desktop.jpg'); */
}

.header-icon{
  align-self: center;
  margin-left: 40px;
}

Header{
  width: 1340px;
  height: 90px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 400px;
  padding-top: 30px;
  position: absolute;
  color: #ffffff;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  height: inherit;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  padding: 40px;

}

.middle-header{
  position: absolute;
  width: 473px;
  height: 3px;
  left: 175px;
  top: 60px;
  background-color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.2514851987361908;
}

a{
  color: inherit;
  text-decoration: none;
}

.btn-num{
  font-weight: 700;
  margin-right: 10px;
}

.homep-btn{
  font-family: 'Barlow Condensed';
  font-weight: 400;
}

.main-cont-home{
  display: flex;
  gap: 230px;
  padding: 180px 100px 100px 100px;
  justify-content: space-around;
  background-image: url('./starter-code/assets/home/background-home-desktop.jpg');
}

.explore-btn{
  border-radius: 274px;
  padding: 50px;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin-top: 170px;
  letter-spacing: 2px;
  font-size: 32px;
  font-family: 'Bellefair';
  font-weight: 400;
  color: #0B0D17;

}

.exploreh2{
  color: #0B0D17;
    font-family: Bellefair;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
}

.pointer{
  cursor: pointer;
}

.spaceH1{
  font-size: 150px;
  letter-spacing: 5px;
  margin: 20px 0 24px 0;
  font-family: 'Bellefair';
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.homepageH3{
  margin-bottom: 0;
  letter-spacing: 5px;
  font-size: 32px;
  font-family: 'Barlow Condensed';
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}

.homepagePara{
  width: 444px;
  font-size: 18px;
  line-height: 32px;
  font-family: 'Barlow';
  font-weight: 400;
  color: #D0D6F9;
}

.hover-underline{
  position: absolute;
  background-color: white;
  width: 70px;
  height: 3px;
  top: 100px;

}

.active{
  border-bottom: 3px solid white;
}


